/** common layout **/

.margin-small {
	margin: 2px;
}


/** common layout ends **/

#code-area {
	padding: 5px;
	height: 530px;
	max-width: 100%;
	border: 1px #ebebeb solid;
}

.wrapper {
	padding: 2px;
}